:root {
    /* --FONTS-- */
    --head-font: "Roboto", sans-serif;
    --text-font: "Raleway", sans-serif;

    /* --NUMERAL CONTENT-- */
    --indent: 24px;
    --items: 3;

    /* --TEXT COLORS-- */
    --main-text-color: #434455;
    --secondary-color: #2e2f42;
    --main-title-color: #ffffff;

    /* --COLORS-- */
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;

    /* --ANIMATION-- */
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: var(--head-font);
    color: var(--main-text-color);
    background-color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* -- STYLES -- */

.header {
    border-bottom: 1px solid var(--color-cornflower);
    background: var(--color-white);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    height: 72px;
    flex-shrink: 0;
}

.list   {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
  
.section.no-top-padding {
    padding-top: 0;
}

@media only screen and (max-width: 1158px) {
    .section {
        padding: 96px 0;
    }
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-navy-blue);
    margin-bottom: 72px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 428px) {
    .container {
      width: 428px;
    }
}
  
@media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
}
  
@media screen and (min-width: 1158px) {
    .container {
      width: 1158px;
    }
}
  

.flex-container {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    text-decoration: none;
}

/* -- HEADER --*/

.logo {
    font-family: var(--text-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    color: var(--color-iris);
    padding: 24px 0;
}

.logo-web {
    color: var(--color-navy-blue);
}

.logo-light {
    color: var(--color-cloud);
}


/* -- HERO -- */

.btn {
    font-family: inherit;
    cursor: pointer;
    background: var(--color-iris);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-decoration: none;
    text-transform: none;
    color: var(--color-white);
    border-radius: 4px;
    transition: background-color var(--transition);
}

.btn:hover,
.btn:focus {
    background-color: var(--color-ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 2px 1px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);

    border-radius: 4px;
}

.main-title {
    color: var(--main-title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    margin: auto;
    margin-bottom: 72px;
    max-width: 320px;

}

@media screen and (min-width: 768px) {
    .main-title {
      font-size: 56px;
      letter-spacing: 1.12px;
      max-width: 496px;
      line-height: 1.07;
      margin-bottom: 36px;
    }
}
  
  @media screen and (min-width: 1200px) {
    .main-title {
      font-size: 56px;
      letter-spacing: 1.12px;
      max-width: 496px;
      line-height: 1.07;
      margin-bottom: 48px;
    }
}


.main-hero {
    background-color: var(--color-navy-blue);
    margin: auto;
    max-width: 428px;
    max-height: 432px;
    padding-top: 112px;
    padding-bottom: 112px;     
    text-align: center;   
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), 
    url(../images/PeopleOffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .main-hero {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/PeopleOffice2x.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .main-hero {
    padding-bottom: 112px;
    padding-top: 112px;
    max-width: 768px;
    max-height: 436px;
  }
}
@media screen and (min-width: 1200px) {
  .main-hero {
    padding-bottom: 188px;
    padding-top: 188px;
    max-width: 1440px;
    max-height: 600px;
  }
}


.main-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 15px 31px;
    margin: 0 auto;
    border: none;
}

/* -- NAVIGATION -- */

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width: 767px) {
    .nav-list {
      display: none;
    }
}

.nav-link {
    font-family: var(--head-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    display: block;
    padding: 24px 0;
    transition: color var(--transition);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-ocean);
}

.nav-line {
    position: relative;
    color: var(--color-ocean);
}

.nav-line:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    background-color: var(--color-ocean);
    transition: color var(--transition);
}

/* Header ADD */

.contact-list {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 767px) {
    .contact-list {
      display: none;
    }
}

.link-contact {
    font-style: normal;
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition: color var(--transition);
}

.link-contact:hover,
.link-contact:focus {
    color: var(--color-ocean);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contact-list {
      flex-direction: column;
      gap: 12px;
    }
    .link-contact {
      font-style: normal;
      color: var(--text);
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.48px;
    }
}  

/* Feature Section */

.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.feature {
    text-align: center;
    color: var(--secondary-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    margin-bottom: 8px;
    margin-top: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .feature-list li {
      max-width: 356px;
    }
    .feature-list {
      row-gap: 72px;
      column-gap: 24px;
    }
    .feature {
      text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .feature {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.4px;
    }
    .feature-list {
      gap: 24px;
    }
    .feature-list li {
      max-width: 264px;
    }
    .feature {
      text-align: left;
    }
}

.feature-image {
    background-color: var(--color-cloud);
    width: 100%;
    border-radius: 4px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1199px) {
    .feature-image {
      display: none;
    }
}

.feature-text {
    line-height: 1.5;
    letter-spacing: 0.32px;
    font-weight: 500;
    margin: 0px;
}

@media screen and (min-width: 1200px) {
    .feature-text {
      font-weight: 400;
    }
}

/* SERVICE SECTION */

.service {
    padding-top: 0;
}

@media screen and (max-width: 1199px) {
    .service {
        display: none;
    }
}

/* -- CARD SET -- */

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.card-set-item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* Team Section */

.team {
    background-color: var(--color-cloud);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
@media only screen and (min-width: 428px) and (max-width: 767px), only screen and (max-width: 427px) {
    .our-team-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}
}

.team-list > li {
    background-color: var(--color-white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-text {
    padding: 32px 0px;
    text-align: center;
}

.team-name {
    color: var(--secondary-color);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    padding: 0px;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin: 0;
}

.team-socials {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
}

.team-socials-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-iris);
    transition: background-color var(--transition);
}

.team-socials-link:hover,
.team-socials-link:focus {
    background-color: var(--color-ocean);
}

.team-socials-icon {
    fill: var(--color-cloud);
}

/* Customer section */

.customer-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
    justify-content: center;
}

.customer-link {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    color: var(--color-light-slate);
    border: 1px solid var(--color-light-slate);
    transition: border-color var(--transition), var(--transition);
}

.customer-link:hover,
.customer-link:focus {
    border-color: var(--color-ocean);
    color: var(--color-ocean);
}

.customer-icon {
    fill: currentColor;
}

@media only screen and (min-width: 768px) {  
    .client-list {
        column-gap: 24px;
    }
}
  
/* ---------- PORTFOLIO PAGE ---------- */

.portfolio-section {
    padding: 96px 0 120px;
}

/* Filter Section */ 

.filter-list {
    margin-bottom: 72px;
    gap: 24px;
    justify-content: center;
}

.filter-button {
    background-color: var(--color-cloud);
    border: 1px solid var(--color-cornflower);
    padding: 12px 24px;
    border-radius: 4px;
    color: var(--color-iris);
    transition-property: color var(--transition),
        background-color var(--transition),
        border-color  var(--transition),
        box-shadow  var(--transition);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--color-white);
    border: 1px solid transparent;
}

/* Project Section */

.project-list {
    gap: 24px;
    row-gap: 48px;
}

.project-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-link {
    display: block;
    transition: box-shadow var(--transition);
}

.project-text {
    padding: 32px 16px;
    border: 1px solid var(--color-cornflower);
    border-top: none;
}

.project-box {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: var(--color-iris);
    color: var(--color-cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
    mix-blend-mode: normal;
    padding: 40px 32px;
    transition: transform var(--transition);
}
.project-box:hover .project-overlay {
    transform: translateY(0%);
}

/* Footer Section */

.footer {
    background-color: var(--color-navy-blue);
    padding: 100px 0;
}

.footer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .footer-container{
      column-gap: 24px;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0 92px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container{
      column-gap: 80px;
      padding: 0;
      justify-content: center;
    }
}

.footer-logo {
    text-align: center;
    color: var(--color-navy-blue);
    text-decoration: none;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: block;
}

.logo-footer-web {
    color: var(--color-iris);
}

@media screen and (min-width: 768px) {
    .footer-logo {
      text-align: left;
    }
}

.footer-text {
    color: var(--color-cloud);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
    margin-top: 17.5px;
}

@media screen and (min-width: 1200px) {
    .footer-socials {
      margin-left: 40px;
    }
}

.footer-socials-text {
    color: var(--color-white);
    font-weight: 500;
    text-align: center;
    display: block;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .footer-socials-text {
      text-align: left;
    }
}

.footer-socials-list {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    justify-content: center;
}

.footer-socials-link {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: var(--color-iris);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: var(--color-green);
}

.footer-socials-icon {
    fill: var(--color-cloud);
}

/* Sub Footer */

.container-form-subcribe {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .container-form-subcribe {
      justify-content: flex-start;
    }
}
@media screen and (min-width: 1158px) {
    .container-form-subcribe {
      justify-content: flex-end;
      align-items: flex-start;
      width: auto;
    }
}

.form-subscribe {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

@media screen and (min-width: 768px) {
    .form-subscribe {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      column-gap: 24px;
    }
  }

  .form-subscribe-label {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
  }
  
  @media screen and (min-width: 768px) {
    .form-subscribe-label {
      width: auto;
    }
  }

  .form-subscribe-text {
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--color-white);
  
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    text-transform: capitalize;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    .form-subscribe-text {
      display: inline-flex;
    }
  }

  .input-subscribe {
    outline: 0;
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: var(--color-white);
    box-sizing: border-box;
    font-style: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 200em;
    letter-spacing: 0.48px;
    transition: border-color var(--transition);
  }

  @media screen and (min-width: 768px) {
    .input-subscribe {
      width: 264px;
    }
  }

  .input-subscribe:focus,
  .input-subscribe:hover {
    border-color: var(--color-iris);
  }

  .input-subscribe::placeholder {
    color: var(--color-white);
  }

  .button-subscribe {
    display: inline-flex;
    padding: 8px 24px;
    border: unset;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background-color: var(--color-iris);
    transition: background-color var(--transition);

  }

  .button-subscribe:hover {
    background-color: var(--color-ocean);
  }

  .text-button-subscribe {
    margin: 0;
    color: var(--color-white);
    text-align: center;
  
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.5em;
    letter-spacing: 0.64px;
  }

  .icon-subscribe {
    margin: 0;
    width: 24px;
    height: 24px;
    fill: var(--color-white);
  }
  

/* ------ MODAL -------*/

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    transition: opacity var(--transition), visibility var(--transition);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    max-width: 392px;
    min-height: 584px;
    background-color: var(--color-dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform var(--transition);
    box-sizing: border-box;
}

.modal.is-hidden .modal-content {
    transform: translate(-50%, -50%) scale(0);
}

.close-btn {
    cursor: pointer;
    position: absolute;
    padding: 0;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background-color: var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition), border var(--transition);
}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--color-ocean);
    border: none;
}

.svg-close-btn {
    fill: var(--color-navy-blue);
    transition: fill var(--transition);
}

.close-btn:hover .svg-close-btn,
.close-btn:focus .svg-close-btn {
    fill: var(--color-white);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* ------- MODAL INFORMATION --------- */

.modal-text {
    color: var(--color-navy-blue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.modal-container {
    margin-bottom: 8px;
}

.modal-label {
    color: var(--color-light-slate);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.input-container {
    position: relative;
}

.input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px 8px 38px;
    transition: border-color var(--transition);
    outline: transparent;
    box-sizing: border-box;
}

.input:focus {
    border-color: var(--color-iris);
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition);
}

.input:focus+.input-icon {
    fill: var(--color-iris);
}

.comment-container {
    margin-bottom: 16px;
}

.textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    box-sizing: border-box;
    transition: border-color var(--transition);
}

.textarea:focus {
    border-color: var(--color-iris);
}

.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-label {
    color: var(--color-light-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.policy-link {
    color: var(--color-iris);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color var(--transition),
        border var(--transition),
        border-color var(--transition),
        fill var(--transition);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.checkbox:checked+.checkbox-label .custom-checkbox {
    background-color: var(--color-ocean);
    border: none;
    fill: var(--color-cloud);
}

.checkbox:focus+.checkbox-label .custom-checkbox {
    border-color: var(--color-ocean);
}

.contacts-form-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    cursor: pointer;
    background-color: var(--color-iris);
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition);
}

.contacts-form-btn:hover,
.contacts-form-btn:focus {
    background-color: var(--color-ocean);
}

/* MENU NAVIGATION MOBILE */

.header-nav-menu {
    display: none;
    list-style: none;
    align-items: flex-start;
    column-gap: 40px;
}

@media screen and (min-width: 768px) {
    .header-nav-menu {
      display: inline-flex;
    }
}

.header-nav-menu-item {
    display: flex;
    position: relative;
}

.header-nav-menu-item.active .header-nav-menu-item-link {
    color: var(--color-ocean);
}

.header-nav-menu-item.active .header-nav-menu-item-link::after {
    width: 100%;
}

.header-nav-menu-item-link {
    color: var(--color-navy-blue);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    transition: color var(--transition);
}

.header-nav-menu-item-link::after {
    content: "";
    height: 4px;
    width: 0;
    background-color: var(--color-ocean);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -25px;
    transition: width var(--transition);
}

.header-nav-menu-item:hover .header-nav-menu-item-link::after {
    width: 100%;
}

.header-nav-menu-item:hover .header-nav-menu-item-link {
    color: var(--color-ocean);
}

.header-nav-menu-item:focus .header-nav-menu-item-link {
    color: var(--color-ocean);
}

.header-nav-menu-item:active .header-nav-menu-item-link {
    color: var(--color-ocean);
}
  
  /* Header Address */
  
.address {
    display: none;
}

@media screen and (min-width: 768px) {
    .address {
      display: flex;
    }
}

.adress-detail-list {
    display: none;
    list-style: none;
}

@media screen and (min-width: 768px) {
    .adress-detail-list {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }
}

@media screen and (min-width: 1158px) {
    .adress-detail-list {
      flex-direction: row;
      column-gap: 40px;
    }
}

.adress-detail-list-item-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16em;
    letter-spacing: 0.48px;
    color: var(--slate);
    text-decoration: none;
    transition-property: color var(--transition);
}

@media screen and (min-width: 1158px) {
    .adress-detail-list-item-link {
      font-size: 16px;
      line-height: 1.5em;
      letter-spacing: 0.32px;
    }
}

.adress-detail-list-item-link:hover {
    color: var(--color-ocean);
}

.adress-detail-list-item-link:focus {
    color: var(--color-ocean);
}

.adress-detail-list-item-link:active {
    color: var(--color-ocean);
}
  
  /* Mobile Nav Menu */
  
.button-menu-nav {
    background-color: transparent;
    border: unset;
}

@media screen and (min-width: 768px) {
    .button-menu-nav {
      display: none;
    }
}

.icon-menu-burger {
    width: 32px;
    height: 22px;
    stroke: var(--color-navy-blue);
}

.header-nav-mobile {
    position: fixed;
    display: flex;
    transform: translateX(100%);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 200;
    margin: 0;
    box-sizing: border-box;
    max-width: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 80px 35px 40px 40px;
    background-color: var(--color-white);
    pointer-events: none;
    transition: transform var(--transition);
}

.header-nav-mobile.is-open {
    transform: translateX(0%);
    pointer-events: auto;
}

.button-navmenu-close-mobile {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-cornflower);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(46, 47, 66, 0.4);
    border-radius: 12px;
    cursor: pointer;
}

.icon-navmenu-close {
    fill: var(--color-navy-blue);
}

.header-nav-menu-mobile {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    list-style: none;
}

.header-nav-menu-item-link-mobile {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12em;
    letter-spacing: 0.72px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

.header-nav-menu-item-mobile.active .header-nav-menu-item-link-mobile {
    color: var(--color-ocean);
}

.container-address-socialmedia-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.address-mobile {
    margin-bottom: 48px;
}

.address-detail-list-mobile {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    list-style: none;
}

.address-detail-list-item-link-mobile {
    text-decoration: none;
}

.address-detail-list-item-link-mobile.tel {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--color-iris);
    width: 100%;
}
.address-detail-list-item-link-mobile.mail {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    color: var(--color-slate);
}
  
.socialmedia-links-navmenu-mobile {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    column-gap: calc((100% - 160px) / 3);
}

.socialmedia-links-listitem-navmenu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-iris);
    border-radius: 20px;
    transition: background-color var(--transition);
}

.icon-socialmedia-link-navmenu-mobile {
    fill: var(--color-cloud);
}

/* EXTRA */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}